<!DOCTYPE html>
<html>

<head>
    <title>Happy Deli POS - Admin Dashboard</title>
</head>

<body>

    <!-- Store / System Header -->
    <h1>Happy Deli POS</h1>
    <p>POS & Inventory System</p>

    <hr>

    <!-- Admin Information -->
    <h2>Admin Dashboard</h2>
    <p>Welcome, {{ g.user.username }}</p>

    <hr>

  
<p>Today's Sales: ${{ "%.2f"|format(todays_sales) }}</p>

<p>Today's Transactions: {{ todays_transactions }}</p>

<p>Low Stock Alerts: {{ low_stock_alerts }}</p>

<p>Profit Margin: Coming Soon</p>

    <hr>

    <!-- Main Admin Navigation -->
    <h3>Management</h3>

    <a href="/pos">
        <button>POS / Checkout</button>
    </a>

    <a href="/inventory">
        <button>Inventory</button>
    </a>

    <a href="{{ url_for('reports') }}">
    <button type="button">Reports & Analytics</button>
</a>
    </a>

   <a href="{{ url_for('employee_management') }}">
    <button type="button">Employee Management</button>
</a>

<a href="{{ url_for('supplier_management') }}">
    <button type="button">Supplier Management</button>
</a>

    <br><br>

    <!-- Account -->
    {% include '_logout.html' %}

</body>

</html>
