<!DOCTYPE html>
<html>
<head>
    <title>Happy Deli POS - Sign In</title>
</head>

<body>


    <h2>Sign In</h2>

    <form>

        <label for="username">Username:</label>
        <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter username"
            required
        >

        <br><br>

        <label for="password">Password:</label>
        <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
            required
        >

        <br>

        <a href="/forgot-password">Forgot Password?</a>

        <br><br>

        <button type="submit">Sign In</button>

    </form>

</body>
</html>